<div class="page-content">
    <div class="col-md-12 page-404">
        <div class="number font-green"> "Unhandled Error" </div>
        <div class="details">
            <h3>"Oops! Something bad happened."</h3>
            <p>
                <a href="/" class="btn red btn-outline"> "Return home" </a>
                <br>
            </p>
        </div>
    </div>
</div>